{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Bombay Novelty E-Store</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bombay Novelty E-store Responsive web template" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="{% static 'css/bootstrap.css'%} " rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
		    <li> <a href="{% url 'index' %}" ><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign Out </a></li>
			<li> <a href="{% url 'changepassword' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> ChangePassword </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 9738215789</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">bombaynoveltystore@gmail.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">

		<!-- header-bot -->
			<div class="col-md-4 logo_agile" style="width:800px;">
				<h1><a href="index.html"><span>B</span>ombay Novelty E-Store</a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					  <li class="active menu__item menu__item--current"><a class="menu__link" href="{% url 'admins' %}">Home <span class="sr-only">(current)</span></a></li>

				  </ul>
				</div>
			  </div>
			</nav>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">

			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">


						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
<!-- FORM DESIGN GOES HERE -->
		<div class="banner_bottom_agile_info">
			<div class="container">
			    <div class="grid_3 grid_4 w3layouts">
				<h3 class="hdg" style="text-align:center;">Purchase Items</h3>
				<div class="bs-example">
					<script>
						function total()
						{
							var qtty = parseInt(document.getElementById("o1").value);
							var pr = parseInt(document.getElementById("o5").value);
							var ttl = qtty*pr;
							document.getElementById("o3").value=ttl;
						}
					</script>
					<form method="post">
						{% csrf_token %}
					<table  width="500" height="300" align="center">
						<tr>
							<td><b>Item</b></td>
							<td><input type="text" name="o4" style="width:200px;" required pattern="[A-Za-z\s]+" title="enter valid item name"></td>
						</tr>
						<tr>
							<td><b>Purchase Date</b></td>
							<td><input type="date" name="o2" style="width:200px;" required pattern="\d{1,2}-\d{1,2}-\d{4}" placeholder="mm-dd-yyyy"></td>
						</tr>
						<tr>
							<td><b>Price</b></td>
							<td><input type="number" name="o5" id="o5" value="{{pr}}" onblur="total()" min="0" max="50000" style="width:200px;" required pattern="[0-9]+" title="enter valid price"></td>
						</tr>
						<tr>
							<td><b>Quantity</b></td>
							<td><input type="number" name="o1" id="o1" value="{{qtty}}" onblur="total()" style="width:200px;" required pattern="[0-9]+" title="enter valid number"></td>
						</tr>

						<tr>
							<td><b>Total price</b></td>
							<td><input type="number" name="o3" id="o3" onblur="total()" style="width:200px;" required pattern="[0-9]+" title="enter valid price"></td>
						</tr>

							<td></td>
							<td>
								<input type="submit" name="o6" style="background-color:darkblue;color:white;width:100px;">
								<input type="reset" value="Reset" name="Reset" style="background-color:green;color:white;width:100px;">
							</td>
						</tr>

					</table>
					</form>
				</div>
				</div>
			</div>
		</div>

		<div class="banner_bottom_agile_info">
			<div class="container">
			    <div class="grid_3 grid_4 w3layouts">

			</div>
						</div>


<div class="footer">
		<p class="copy-right">&copy 2019 Bombay Novelty. All rights reserved </p>
		<div class="col-md-9 footer-right">

				</div>

				<div class="clearfix"></div>
			</div>
		</div>


	</div>
</div>
<!-- //footer -->

<!-- login -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>


						</div>
					</div>
				</div>
			</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
	<!-- cart-js -->
	<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js -->

<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>
